
body {
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

.designScreen1 {
    background-color: green;

    height: 100vh;
    width: 100vw;
}

.designScreen2 {
    background-color: red;

    height: 100vh;
    width: 100vw;
}

.designScreen3 {
    background-color: black;

    height: 100vh;
    width: 100vw;
}

.designScreen4 {
    background-color: violet;

    height: 100vh;
    width: 100vw;
}